.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #2C3E50;
    color: white;
    /* border-radius: 10px; */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.logo h2 {
    margin: 0;
    font-size: 1.8rem;
    color: white;
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #1ABC9C;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #2C3E50;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 5px;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .templates-container {
        flex-direction: column;
        align-items: center;
    }
}